<h1 style="text-align: center;"> <strong>Register a Doctor</strong></h1>
<div class="img-container">
    <img src="assets/images/femaleDoctor.png" width="300" 
    height="300" alt="image">
</div>
<div style="text-align: center;" class="example-button-row bottom-one">
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
  </div>
  <div style="text-align: center;" class="example-button-row bottom-three">
    <button mat-raised-button color="Basic" routerLink="/Registration">Register</button>
  </div>
  <div style="text-align: center;" class="example-button-row">
    <button mat-raised-button color="Basic" routerLink="/Home">View Doctor</button>
  </div>